
<div class="row">
    <div class="col-12">
    <div class="card">
        <div class="card-body">
            <p class="alert alert-info">
                Aru sores you want remove  this post
            </p>
           <div class="d-flex justify-content-between">
             <button class="btn btn-primary" (click)="onconform(true)">conform</button>
            <button class="btn btn-danger" (click)="onconform(false)">Cancel</button>
           </div>
        
        </div>
    </div>

    </div>
</div>